.chef-foodlist{
    display: flex;
    flex-wrap: wrap;
    margin:0 2rem;
    font-family: 'CaveatBrush';
    margin: 0 4rem 2rem;
    margin-top: 2rem;
    flex-direction: column;
    padding-left: 10rem;
    &__header{

    }
    &__image{
        width:10rem;
        height:10rem;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: .5rem .5rem .25rem #aaaaaa;
    }
    &__food{
        cursor: pointer;
        &:hover{
            position: relative;
            top: 1rem;
            left: 1rem;
        }
    }
}

.viewchef{
    background-image: linear-gradient(rgba(255, 255, 255, 0.800), rgba(255,255,255,0.800)),url('../../assets/images/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20rem;
}