@font-face {
    font-family: 'AlexBrush';
    src: url('../../assets/fonts/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CaveatBrush';
    src: url('../../assets/fonts/CaveatBrush-Regular.ttf') format('truetype');
}