.cuisines{
    margin:0 2rem;
    font-family: 'CaveatBrush';
    margin: 0 4rem;
    &__header{
        margin-top: 2rem;
        margin-bottom:2rem;
    }
    
    &__cuisine{

    }
    &__image{
        width:10rem;
        height:10rem;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: .5rem .5rem .25rem #aaaaaa;
    }
    &__name{
        margin: 1rem 0 2rem 4rem;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &__name--mediterranean{
        margin-left: 3rem;
    }
}