.header{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    &__logo{
        max-height:10rem;
    }
    &__greeting{
        margin-top: 2rem;
        font-size: 2rem;
    }
    &__logout{
        margin-top: 2rem;
        max-height: 2rem;
        min-width: 8rem;
        border-radius: 5rem;
        font-family: 'CaveatBrush';
        font-size: 1.5rem;
        padding-bottom: 2rem;
        background: linear-gradient(0deg, #f0f07b 50%, #e77d7d 50%,);
    }

}