.requestform{
    &__input{
        display: flex;
        flex-direction: column;
    }
    
    &__label {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
        font-size: 1.8rem;
    }

    &__name-txtbox{
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        font-family: 'CaveatBrush';
    }

    &__desc-txtbox{
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        font-family: 'CaveatBrush';
        max-height: 10rem;
        min-height: 10rem;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    &__cancelbtn{
        width: 10vw;
        margin-top: 2rem;
        max-height: 2rem;
        min-width: 8rem;
        border-radius: 5rem;
        font-family: 'CaveatBrush';
        font-size: 1.5rem;
        padding-bottom: 2rem;
        background: linear-gradient(0deg, #f4a11c 50%, #c7363b 50%,);
        &:hover{
            background: #f4a11c;
        }
    }

    &__requestbtn{
        width: 25vw;
        margin-top: 2rem;
        max-height: 2rem;
        min-width: 8rem;
        border-radius: 5rem;
        font-family: 'CaveatBrush';
        font-size: 1.5rem;
        padding-bottom: 2rem;
        background: linear-gradient(0deg, #f4a11c 50%, #c7363b 50%,);
        &:hover{
            background: #f4a11c;
        }
    }

    &__buttons{
        margin-right: 20vw;
        margin-left: 20vw;
        display: flex;
        justify-content: space-around;
    }
}