.cheflist{
    font-family: CaveatBrush;
    margin: 0 4rem;
    &__chef{
        cursor: pointer;
        &:hover{
            position: relative;
            top: 1rem;
            left: 1rem;
        }
    }
    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__header{
        margin-left:2rem;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__image{
        width:10rem;
        height:10rem;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: .5rem .5rem .25rem #aaaaaa;
    }
    &__name{
        margin-left: 3rem;
    }
}